@mixin container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media #{$tablet} {
    width: 768px;
    padding: 0 50px;
  }

  @media #{$desktop} {
    width: 1150px;
    padding: 0 50px;
  }
}

@mixin wave {
  @media #{$tablet} {
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      height: 36px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: round;
      z-index: 10;
    }
  }

  @media #{$desktop} {
    &::before {
      bottom: -25px;
      height: 40px;
      background-repeat: repeat-x;
    }
  }
}

@mixin wave-1 {
  @media #{$tablet} {
    &::before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      height: 36px;
      width: 100%;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: round;
      z-index: 10;
    }
  }

  @media #{$desktop} {
    &::before {
      bottom: -1px;
      height: 33px;
      background-repeat: repeat-x;
    }
  }
}

@mixin line {
  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 260px;
    height: 15px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: round;
  }

  @media #{$tablet} {
    &::after {
      z-index: 11;
      top: -35px;
      width: 667px;
    }
  }

  @media #{$desktop} {
    &::after {
      z-index: 11;
      height: 19px;
      top: -50px;
      width: 1050px;
    }
  }
}

@mixin line-1 {
  &::after {
    content: "";
    position: absolute;
    bottom: -45px;
    left: 30px;
    width: 260px;
    height: 15px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: round;
  }

  @media #{$tablet} {
    &::after {
      z-index: 11;
      bottom: -100px;
      width: 667px;
      left: 50px;
    }
  }

  @media #{$desktop} {
    &::after {
      z-index: 11;
      height: 19px;
      bottom: -60px;
      width: 1050px;
    }
  }
}
