$mobile-only: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1150px)";

$color-title: #000000;
$color-form-subtitle: #63d1bb;
$color-border-input-hover: #62d1ba;
$color-border-input-active: #62d1ba;
$color-text: #000000;
$color-link: #444444;
$color-text-table: #444444;
$color-border-table: #ececec;
$color-text-price: #444444;
$color-text-paragraph: #444444;
$color-text-top: #63d1bb;
$color-text-btn: #444444;
$color-border-btn: #444444;
$color-text-btn-hover: #ffffff;
$color-background-btn-hover: #444444;
$color-text-btn-active: #8d8d8d;
$color-background-btn-active: #444444;
$color-main-menu-title: #ffffff;
$color-background-interior: #63d1bb;
$color-background-toys: #56c3b2;
$color-border: #ececec;
$color-box-shadow: #c6c6c6;
$color-background-footer: #f1f1f1;
$color-text-item-description: #444444;
$color-text-item-price: #000000;
