.about {
  border: 1px solid #000000;
}

.about__title {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about__item {
  color: #000000;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
