.btn {
  color: $color-text-btn;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid $color-border-btn;
  width: 258px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;

  &:hover {
    color: $color-text-btn-hover;
    background-color: $color-background-btn-hover;
  }

  &:active {
    color: $color-text-btn-active;
    background-color: $color-background-btn-active;
  }
}
