.btn {
  color: #444444;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid #444444;
  width: 258px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: #8d8d8d;
    background-color: #444444;
  }
}
