.contacts {
  margin-top: 45px;
}

.contacts__container {
  @include container;
}

.contacts__title {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts__info {
  margin-bottom: 34px;
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-top: 23px;
}

.contacts__email-text {
  padding-left: 22px;
}

.contacts__address-title {
  vertical-align: top;
  padding-top: 27px;
}

.contacts__address-text {
  padding-left: 23px;
  padding-top: 27px;
}

.contacts__link {
  color: #444444;
}

.contacts__map {
  margin: 0 auto;
  background-color: #c6c6c6;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  width: 320px;
  height: 457px;
}

.contacts__btn {
  margin: 38px auto;
}
