.contacts {
  padding-top: 60px;
  padding-bottom: 40px;
}

.contacts__container {
  @include container;
}

.contacts__icon-flag {
  display: none;
}

.contacts__title {
  color: $color-title;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.contacts__info {
  display: table;
  color: $color-text-table;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 35px;
  border-collapse: collapse;
}

.contacts__email {
  display: table-row;
}

.contacts__email-title {
  display: table-cell;
  padding-right: 20px;
}

.contacts__link {
  display: table-cell;
  color: $color-link;
  border-bottom: 1px solid #62d1ba;

  &:hover {
    color: #59c5b4;
    border-color: #46c1ae;
  }

  &:active {
    color: #d3ede8;
    border-color: #ecf9f7;
  }
}

.contacts__address {
  display: table-row;
}

.contacts__address-title {
  display: table-cell;
  padding-top: 30px;
  padding-right: 30px;
}

.contacts__address-text {
  display: table-cell;
  padding-top: 30px;
}

.contacts__map {
  position: relative;
  background-color: #c6c6c6;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 457px;
  margin-bottom: 38px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

.contacts__map-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contacts__icon-map-pin {
  position: absolute;
  width: 66px;
  height: 101px;
  top: 150px;
  left: 160px;
  z-index: 5;
}

.contacts__btn {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media #{$tablet} {
  .contacts {
    padding-top: 120px;
    padding-bottom: 45px;
  }

  .contacts__container {
    position: relative;
  }

  .contacts__icon-flag {
    position: absolute;
    right: 55px;
    top: -15px;
    display: block;
    width: 47px;
    height: 82px;
  }

  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 48px;
  }

  .contacts__info {
    font-size: 17px;
    margin-bottom: 58px;
  }

  .contacts__email {
    margin-right: 35px;
    display: inline-block;
    vertical-align: top;
  }

  .contacts__address {
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
  }

  .contacts__address-title {
    padding-top: 0;
    padding-right: 26px;
  }

  .contacts__address-text {
    padding-top: 0;
  }

  .contacts__map {
    margin-bottom: 55px;
    background-image: url("../img/map-tablet@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-tablet@2x.jpg");
    }
  }

  .contacts__icon-map-pin {
    top: 150px;
    left: 410px;
  }

  .contacts__btn {
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

@media #{$desktop} {
  .contacts {
    padding-top: 160px;
    padding-bottom: 105px;
    position: relative;
  }

  .contacts__container {
    padding-left: 225px;
  }

  .contacts__icon-flag {
    left: 113px;
  }

  .contacts__title {
    color: $color-title;
    font-size: 53px;
    line-height: 57px;
    font-weight: 700;
    margin-bottom: 49px;
  }

  .contacts__info {
    display: table;
    font-size: 17px;
    margin-bottom: 78px;
  }

  .contacts__email {
    display: table-row;
  }

  .contacts__email-title {
    display: table-cell;
    padding-right: 20px;
  }

  .contacts__link {
    display: table-cell;
  }

  .contacts__address {
    display: table-row;
  }

  .contacts__address-title {
    display: table-cell;
    padding-top: 30px;
    padding-right: 25px;
  }

  .contacts__address-text {
    display: table-cell;
    padding-top: 30px;
  }

  .contacts__map {
    position: absolute;
    left: 50%;
    top: 135px;
    width: 525px;
    background-image: url("../img/map-desktop@1x.jpg");
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/map-desktop@2x.jpg");
    }
  }

  .contacts__icon-map-pin {
    top: 170px;
    left: 230px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0;
  }
}
