.form {
  border: 1px solid #000;
}

.form__intro-text {
  color: #444;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.form__subtitle {
  color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.form__label {
  color: #000;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

.form__input-text {
  color: #444;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.form__input-tel {
  color: #444;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.form__input-email {
  color: #444;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.form__extra-text {
  color: #444;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
}

.form__note-text {
  color: #444;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
