.goods-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ededed;
  padding-bottom: 27px;
  width: 260px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0 5px 5px $color-box-shadow;
  }

  &:active {
    box-shadow: 0 3px 4px $color-box-shadow;
  }
}

.goods-item__link {
  margin-bottom: 10px;
}

.goods-item__desc {
  display: flex;
  flex-direction: column;
  padding-left: 27px;
  padding-right: 27px;
}

.goods-item__info {
  margin-bottom: 41px;
}

.goods-item__title {
  color: $color-title;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 5px;

  &:hover {
    color: #8d8d8d;
  }

  &:active {
    color: #cacaca;
  }
}

.goods-item__feature {
  color: $color-text-item-description;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.goods-item__price {
  display: flex;
  justify-content: space-between;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 45px;
    left: 0;
    width: 204px;
    height: 1px;
    background-color: #ececec;
  }
}

.goods-item__price-value {
  color: $color-text-item-price;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.goods-item__btn-img {
  fill: #d3d2d2;
  width: 20px;
  height: 19px;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: #d0f1ea;
  }
}

@media #{$tablet} {
  .goods-item {
    width: 668px;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 54px;
  }

  .goods-item__link {
    margin-bottom: 0;
  }

  .goods-item__img {
    display: block;
  }

  .goods-item__desc {
    width: 334px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 28px;
    padding-left: 27px;
    justify-content: space-between;
  }

  .goods-item__title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .goods-item__feature {
    font-size: 15px;
  }

  .goods-item__price {
    padding-left: 5px;

    &::after {
      width: 275px;
    }
  }

  .goods-item__price-value {
    font-size: 17px;
  }
}

@media #{$desktop} {
  .goods-item {
    flex-direction: column;
    width: 315px;

    &:last-child {
      margin-bottom: 55px;
    }
  }

  .goods-item__desc {
    padding-top: 13px;
    padding-right: 50px;
    padding-left: 26px;
  }

  .goods-item__info {
    margin-bottom: 60px;

    &--last-item {
      margin-bottom: 37px;
    }
  }

  .goods-item__price {
    padding-left: 0;

    &::after {
      bottom: 45px;
      width: 255px;
    }
  }
}
