.goods {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media #{$tablet} {
  .goods {
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

@media #{$desktop} {
  .goods {
    padding-top: 135px;
    padding-bottom: 30px;
  }

  .goods__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
