.main-menu {
  margin-top: -58px;
}

.main-menu__container {
  display: flex;
  flex-direction: column;

  @include container;
  padding: 0;
}

.main-menu__link {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  padding-left: 30px;

  &--interior {
    background-color: $color-background-interior;
  }

  &--toys {
    background-color: $color-background-toys;
  }
}

.main-menu__title {
  width: 150px;
  color: $color-main-menu-title;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.main-menu__icon {
  width: 60px;
  height: 60px;
  margin-left: auto;
}

@media #{$tablet} {
  .main-menu {
    margin-top: -127px;
  }

  .main-menu__container {
    flex-direction: row;
  }

  .main-menu__link {
    width: 335px;
    padding-top: 28px;
    padding-left: 36px;
  }

  .main-menu__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop} {
  .main-menu {
    margin-top: -191px;
  }

  .main-menu__link {
    width: 525px;
  }

  .main-menu__title {
    font-size: 20px;
    line-height: 30px;
  }
}
