.main-menu__container {
  display: flex;
  flex-direction: column;

  @include container;
  padding: 0;
}

.main-menu__link {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  &--interior {
    background-color: $color-background-interior;

    &:hover {
      background-color: #59d5bc;
    }

    &:active {
      background-color: #59d5bc;
    }
  }

  &--toys {
    background-color: $color-background-toys;

    &:hover {
      background-color: #46c1ae;
    }

    &:active {
      background-color: #46c1ae;
    }
  }
}

.main-menu__title {
  width: 150px;
  color: $color-main-menu-title;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;

  &--interior {
    &:active {
      color: #97e2d2;
    }
  }

  &--toys {
    &:active {
      color: #8dd5c9;
    }
  }
}

.main-menu__icon {
  width: 60px;
  height: 60px;
  margin-left: auto;
}

@media #{$tablet} {
  .main-menu__container {
    flex-direction: row;
  }

  .main-menu__link {
    width: 335px;
    padding-top: 28px;
    padding-left: 36px;
  }

  .main-menu__title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media #{$desktop} {
  .main-menu__link {
    width: 525px;
  }

  .main-menu__title {
    font-size: 20px;
    line-height: 30px;
  }
}
