.main-menu {
  margin-top: -58px;
}

.main-menu__container {
  display: flex;
  flex-direction: column;

  @include container;
  padding: 0;
}

.main-menu__link {
  display: flex;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.main-menu__title {
  width: 150px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.main-menu__icon {
  width: 60px;
  height: 60px;
  margin-left: auto;
}
