.modal {
  @include container;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  margin-top: -168px;
  margin-left: -160px;
  width: 320px;
  padding: 30px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #e8e8e8;
  box-shadow: 0 3px 10px #e8e8e8;

  &--show {
    display: block;
  }
}

.modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);

  &--show {
    display: block;
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__title {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__subtitle {
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 23px;
}

.modal__wrapper {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.modal__label {
  color: #444444;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  width: 32%;
  padding: 15px 35px 15px 35px;
  border: 2px solid $color-border;

  &:hover {
    border-color: #c7c7c7;
  }
}

.modal__input {
  display: none;

  &:checked + .modal__label {
    border-color: #63d1bb;
  }
}

.modal__btn {
  background-color: #63d1bb;
  border: none;
  color: #ffffff;
}

@media #{$tablet} {
  .modal {
    width: 567px;
    padding: 7px 50px;
    padding-bottom: 45px;
    margin-left: -284px;
  }

  .modal__title {
    font-size: 30px;
    line-height: 57px;
    margin-bottom: 15px;
  }

  .modal__subtitle {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .modal__label {
    padding: 15px 50px 15px 50px;
  }

  .modal__btn {
    width: 350px;
  }
}
