.page-header {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-header__container {
  display: flex;
  justify-content: center;
  position: relative;

  @include container;
}

.page-header__toggle-nav {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 2px;
  right: 25px;
  width: 30px;
  height: 30px;
}

@media #{$tablet} {
  .page-header {
    padding: 0;
    position: relative;

    &::after {
      position: absolute;
      bottom: -1px;
      content: "";
      background-color: #f9f9f9;
      width: 100%;
      height: 73px;
      border-top: 1px solid #ececec;
      z-index: -1;
    }
  }

  .page-header__container {
    position: relative;
  }

  .page-header__link {
    position: absolute;
    left: 50px;
    top: 30px;
    z-index: 2;
  }

  .page-header__toggle-nav {
    display: none;
  }
}

@media #{$desktop} {
  .page-header {
    &::after {
      height: 75px;
      bottom: -1px;
    }
  }

  .page-header__link {
    position: absolute;
    left: 47%;
    top: 30px;
  }
}
