.page-title {
  width: 100%;
  background-color: #f1f1f1;
  padding: 70px 30px;
}

.page-title__catalog {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.page-title__order {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
