.page-title {
  border: 1px solid #000;
}

.page-title__catalog  {
  color: #000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}

.page-title__order {
  color: #000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
