.page-footer {
  width: 100%;
  background-color: #f1f1f1;
}

.page-footer__container {
  @include container;
}

.page-footer__logo {
  width: 102px;
  height: 34px;
  margin-top: -5px;
  margin-left: -8px;
}

.page-footer__copyright-link {
  display: flex;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  padding-top: 26px;
  padding-left: 38px;
  padding-bottom: 32px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  color: #000000;
}
