.page-title {
  width: 100%;
  background-color: #f1f1f1;
}

.page-title__catalog {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 76px;
  margin-top: 0;
  text-align: center;
}

.page-title__order {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 70px;
  padding-bottom: 76px;
  margin-top: 0;
  margin-bottom: 9px;
  text-align: center;
}
