.page-footer {
  width: 100%;
  background-color: $color-background-footer;
}

.page-footer__container {
  @include container;
}

.page-footer__copyright-link {
  display: flex;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  padding: 22px 38px 33px 38px;
  border-top: 1px solid #ececec;
  text-decoration: none;
  color: $color-text;
}

.page-footer__copyright-text {
  padding-top: 5px;
}

.page-footer__logo-htmlacademy {
  width: 27px;
  height: 34px;
  margin-left: 29px;
  fill: #63d1bb;

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #bde3dd;
  }
}

@media #{$mobile-only} {
  .page-footer__logo {
    display: none;
  }
}

@media #{$tablet} {
  .page-footer__container {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
  }

  .page-footer__logo-img {
    fill: #231f20;
    width: 102px;
    height: 34px;

    &:hover {
      fill: #46c1ae;
    }

    &:active {
      fill: #bde3dd;
    }
  }

  .page-footer__copyright-link {
    padding: 0;
    padding-top: 8px;
    border-top: none;
  }
}

@media #{$desktop} {
  .page-footer__container {
    padding-top: 53px;
  }

  .page-footer__copyright-link {
    padding-top: 5px;
  }
}
