.product {
  display: flex;
  flex-direction: column;
}

.product__title {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 5px;
}

.product__top {
  color: #63d1bb;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.product__desc {
  color: #444444;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 25px;
}

.product__table {
  width: 260px;
  color: #444444;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 27px;
  border-collapse: collapse;
}

.product__row {
  border-bottom: 1px solid #ececec;
}

.product__feature,
.product__value {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 26px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.product__image {
  width: 260px;
  height: 315px;
  margin: 0;
  margin-bottom: 7px;
}

.product__price {
  color: #444444;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.product__btn {
  margin-top: 25px;
  margin-bottom: 48px;
}
