.production {
  border: 1px solid #000000;
}

.production__title {
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.production__description {
  color: #444444;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}
