.promo {
  border: 1px solid #000000;
}

.promo__container {
  background-color: #f8f8f8;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  width: 320px;
  height: 457px;
}

.promo__title {
  color: #000000;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
}
