.review {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 10px 30px;
}

.review__title {
  color: $color-title;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.review__text {
  color: $color-text-paragraph;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 11px;
}

.review__user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.review__user-name {
  color: $color-text;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
  margin-bottom: 5px;
}

.review__link {
  color: $color-link;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.review__swipe-container {
  display: flex;
  margin-bottom: 35px;
}

.review__swipe {
  width: 130px;
  background-color: transparent;
  border: 1px solid $color-border;
  padding: 15px 35px 10px 35px;


  &:first-child {
    border-right: none;
  }
}

.review__arrow {
  width: 50px;
  height: 26px;
  fill: #000000;

  &:hover {
    fill: #666666;
  }

  &:active {
    fill: #b2b2b2;
  }
}


@media #{$tablet} {
  .review {
    position: relative;
    width: 768px;
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 50px;
    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-size: 350px 457px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .review {
      background-image: url("../img/review@2x.jpg");
    }
  }

  .review__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 33px;
  }

  .review__text {
    font-size: 17px;
    margin-bottom: 38px;
  }

  .review__user-name {
    font-size: 18px;
  }

  .review__swipe-container {
    position: absolute;
    bottom: 3px;
    right: 40px;
  }

  .review__swipe {
    width: 100px;
    border: 0;
    padding: 10px 20px;
  }

  .review__btn {
    position: absolute;
    top: 65px;
    right: 50px;
    width: 175px;
  }
}


@media #{$desktop} {
  .review {
    width: 1150px;
    padding-top: 24px;
    padding-left: 225px;
    padding-right: 150px;
    padding-bottom: 95px;
    background-position: 50px -2px;
  }

  .review__title {
    font-size: 53px;
    line-height: 57px;
  }

  .review__text {
    margin-bottom: 21px;
  }

  .review__user-name {
    font-size: 17px;
  }

  .review__swipe-container {
    bottom: 89px;
    right: 48px;
  }

  .review__swipe {
    width: 90px;
  }

  .review__btn {
    top: 77px;
  }
}
