.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 62px 30px 57px;
}

.social__link {
  display: block;
  font-size: 0;
}

.social__icon {
  fill: #221f1f;

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 28px;
  }

  &--twitter {
    width: 23px;
    height: 20px;
  }

  &:hover {
    fill: #46c1ae;
  }

  &:active {
    fill: #c7e5e1;
  }
}

@media #{$tablet} {
  .social {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 70px;
  }

  .social__link {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media #{$desktop} {
  .social {
    padding-top: 8px;
    margin-left: 75px;
  }
}
