.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 52px 20px 46px;
}

.social__link {
  display: block;
  padding: 10px;
  font-size: 0;
}

.social__icon {
  width: 24px;
  height: 20px;
}
